<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				th:replace="normal/base::layout(~{::section})">
	<head>
		<meta charset="UTF-8"/>
		<title>User Dashboard</title>
	</head>
	
	<body>
		<section>
		<h1>This is the dashboard of the normal users, all of them will die!!!!</h1>
		<h2>User Name : <span th:text="${user.name}"></span></h2>
		<h2>User Email : <span th:text="${user.email}"></span></h2>
		<h3><a href="" th:href="@{/logout}">Logout</a></h3>
		</section>
	</body>
</html>